# Optional configuration file locations
# AQUILA_CONFIG_PATH=./aquila.yml
# AQUILA_SERVICE_CONFIG_PATH=./service.configuration.json

# Optional secret override for dynamic_config.backend_token in aquila.yml
AQUILA_BACKEND_TOKEN=<token>
