[package]
name = "aquila"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.44.1", features = ["rt-multi-thread", "signal"] }
futures = "0.3.31"
log = "0.4.26"
env_logger = "0.11.8"
prost = "0.14.1"
tonic = "0.14.1"
tucana = { version = "0.0.49", features = ["all"] }
code0-flow = { version = "0.0.21", features = ["flow_health", "flow_validator"] }
serde_json = "1.0.140"
async-nats = "0.45.0"
tonic-health = "0.14.1"
tokio-stream = "0.1.17"
uuid = { version = "1.18.0", features = ["v4"] }
